<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{animal_type.getName}}</title>
    </head>
    <body>
        <h1>{{ animal_type.getName }}</h1>

        {% if animals is not empty %}
            <p>Here are the list of {{ animal_type.getName}}s:</p>
                {% for animal in animals %}
                <h4>{{animal.getName}}</h4>
                <ul>
                    <li>Breed: {{ animal.getBreed }}</li>
                    <li>Gender: {{ animal.getGender }}</li>
                    <li>Admittance Date: {{ animal.getAdmittanceDate }}</li><br>
                </ul>
                {% endfor %}
        {% endif %}


        <form action="/order/{{animal_type.getId}}" method="post">
            <select class="" name="order">
                <option value="name">name A-Z</option>
                <option value="name desc">name Z-A</option>
                <option value="breed">Breed</option>
                <option value="gender">Gender</option>
                <option value="admittance_date">Oldest Admittance Date</option>
                <option value="admittance_date desc">Newest Admittance Date</option>
            </select>
            <button type="submit" name="button">Sort</button>
        </form><br>

        <p><a href="/">Home</a></p><br>

        <h3>Add a new {{animal_type.getName}}</h3>

        <form action="/add_animal/{{animal_type.getId}}" method="post">
            <input type="number" name="animal_type" placeholder="animal type" hidden="" value="{{animal_type.getId}}">
            <input type="text" name="breed" placeholder="breed">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="gender" placeholder="gender">
            <input type="text" name="date" placeholder="today's date">
            <button type="submit" name="button">add</button>
        </form>

    </body>
</html>
